<header class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile is-child">
            <h1 class="title is-1">Paolo Battistella</h1>
            <span class="has-text-danger is-6">Web Artisan, Ecommerce Developer, PHP Lover</span>
        </div>
    </div>
    <div class="tile is-parent is-4">
        <p class="tile is-child">
            <a href="https://www.linkedin.com/in/paolobattistella" title="LinkedIn Profile" class="has-text-info">LinkedIn Profile</a><br/>
            <a href="mailto:info@paolobattistella.it" class="has-text-info">info@paolobattistella.it</a><br/>
            <span>+39 333 2987867</span>
        </p>
    </div>
</header>